/* Style modifications. */

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.center {
    text-align: center;
}

.to_clipboard {
    cursor: pointer
}

.thin {
    padding: 0px 8px;
    margin: 2px;
}

.nobr {
    white-space: nowrap;
}

.lmargin {
    margin-left: 2em;
}

.rmargin {
    margin-right: 1em;
}

.minwidth {
    width: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.strong {
    font-weight: bold;
}

.small {
    font-size: small;
}

.black {
    color: black;
}

.standard {
    background-color: #c1fba4;
}

.important {
    background-color: #ffa500;
}

.critical {
    background-color: #ff8fa3;
}

.travel {
    background-color:  #ade8f4;
}

.meeting {
    background-color: #fdffb6;
}

.activity {
    background-color: #ffc6ff;
}

.other {
    background-color: #edede9;
}

.today {
    border-style: dotted;
    border-width: 6px  !important;
    border-color: blue;
}


*:required {
    border-color: red;
    border-width: 2px;
}

img.icon {
    background-color: transparent;
    margin: 2px 4px;
    min-width: 24px;
}

img.white {
    background-color: white;
    padding: 1px;
}

img.display {
    border: 1px solid #ddd;
    padding: 4px;
}

img.autoscale {
    max-width: 100%;
    height: auto;
}

img.norescale {
    max-width: none;
}

a.nomargin {
    margin: 0px;
}

a.button {
    border: 1px solid #ddd;
    padding: 2px 8px;
    margin: 6px;
}

li.slim {
    padding-left: 0px;
    padding-right: 0px;
}

th.night {
    background-color: lightgrey;
}

table.compressed > tbody > tr > td {
    padding-top: 2px;
    padding-bottom: 0px;
}

table.days > tbody > tr > td, th {
    vertical-align: top;
    text-align: center;
    border-width: 0px;
    padding: 2px 0px 0px;
}

table.days > tbody > tr > th {
    min-width: 50px;
}

table.vertical {
    width: auto;
}

table.vertical > tbody > tr > td, th {
    height: 2em;
    vertical-align: top;
    border-width: 0px;
    padding: 2px 4px;
}

select.slim {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

textarea.specification {
    font-family: Courier;
}

input.search {
    min-width: 100px;
}

span.error {
    color: red;
}

div.vspacer {
    min-height: 0.5em;
}

div.border {
    height: 100%;
    border-width: 1px;
    border-color: black;
    padding: 0px 4px;
    margin-left: 1px;
    margin-right: 1px;
    min-width: 150px;
}

div.border-closed {
    border-style: solid;
    border-radius: 10px;
}

div.border-open {
    border-style: none;
    border-radius: 10px;
}

div.border-open-right {
    border-style: solid none solid solid;
    border-radius: 10px 0px 0px 10px;
}

div.border-open-bottom {
    border-style: solid solid none solid;
    border-radius: 10px 10px 0px 0px;
}

div.border-open-left {
    border-style: solid solid solid none;
    border-radius: 0px 10px 10px 0px;
}

div.border-open-top {
    border-style: none solid solid solid;
    border-radius: 0px 0px 10px 10px;
}

div.border-open-left-right {
    border-style: solid none solid none;
}

div.border-open-top-bottom {
    border-style: none solid none solid;
}

div.border-plus {
    margin-top: 2px;
    margin-bottom: 2px;
}
