/* Style modifications. */

.right {
    text-align: right;
}

.to_clipboard {
    cursor: pointer
}

img.white {
    background-color: white;
    padding: 1px;
}

img.icon {
    background-color: white;
    margin: 2px 8px 2px 0px;
}

img.display {
    border: 1px solid #ddd;
    padding: 4px;
}

img.autoscale {
    max-width: 100%;
    height: auto;
};

img.norescale {
    max-width: none;
};

nav {
    outline-width: 3px;
    outline-style: solid;
    padding: 0px 10px;
    border-radius: 4px;
}

nav.main {
    outline-color: lightgray;
}

nav.login {
    outline-color: gray;
}

nav.note {
    outline-color: cyan;
}

nav.link {
    outline-color: deepskyblue;
}

nav.file {
    outline-color: mediumpurple;
}

nav.image {
    outline-color: seagreen;
}

nav.listset {
    outline-color: firebrick;
}

nav.database {
    outline-color: darkred;
}

nav.keyword {
    outline-color: orange;
}

nav.search {
    outline-color: tomato;
}

form.search {
    padding-top: 0px;
    margin-bottom: 2px;
}

a.thin {
    padding: 0px 8px;
    margin: 2px;
}

a.nomargin {
    margin: 0px;
}

a.button {
    border: 1px solid #ddd;
    padding: 2px 8px;
    margin: 6px;
}

table.compressed > tbody > tr > td {
    padding-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

select.slim {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
