/* Style modifications. */

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.center {
    text-align: center;
}

.to_clipboard {
    cursor: pointer
}

.thin {
    padding: 0px 8px;
    margin: 2px;
}

img.white {
    background-color: white;
    padding: 1px;
}

img.icon {
    background-color: white;
    margin: 2px 8px 2px 0px;
}

img.display {
    border: 1px solid #ddd;
    padding: 4px;
}

img.autoscale {
    max-width: 100%;
    height: auto;
};

img.norescale {
    max-width: none;
};

form.search {
    padding-top: 0px;
    margin-bottom: 2px;
}

a.nomargin {
    margin: 0px;
}

a.button {
    border: 1px solid #ddd;
    padding: 2px 8px;
    margin: 6px;
}

table.compressed > tbody > tr > td {
    padding-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

select.slim {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

textarea.specification {
    font-family: Courier;
}
